.explore-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 10%;
    text-align: center;
    p {
        padding:20px 0px;
    }
    @include tablet-only {
       margin:5% 5%;
    }
    @include desktop-only {
        margin:3% 5%;
     }
}

.filter-container {
    background-color: $color-white;
    @include container;
    height: 430px;
    @include desktop-only {
        height:350px;
    }
}

.restaurant-container {
    @include container;
    .all_card {
        @include desktop-only {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 10%;
        }
    }
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

