footer {
    background-color: $colour-footer;
    padding:28px;
    color:$colour-white; 
    margin-top: 70px;
    .footer_body_icon {
        float: left;
        display: flex;
        flex-direction: column;
        margin:14px 6px 0px 0px ;
        i {
            padding-bottom: 13px;
        }
    }
    ul {
        padding: 0;
        li {
            list-style: none;
            padding-top:12px;
            font-size: 18px;
            a {
                text-decoration: none;
                color: $colour-white;
            }
        } 
    }
}



.rotate {
    margin-bottom: 4px;
    transform:rotate(-50deg);
    }