.header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%; 
    background-color: $color-white;
     @include tablet-only {
        flex-direction: row;
     }
     @include desktop-only {
        flex-direction: row;
        justify-content: space-between;
     }
}

#logo{
    height: 35px;
    margin: 20px 40px 15px 60px;
    @include tablet-only {
        margin:20px 0px 15px 18px ;
    }
}

.header_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    a {
        font-size: 28px;
        text-decoration: none;
        color:black;
        padding-left: 20px;
     }
}