/* Page accueil*/ 

#location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(230 230 230);
    box-shadow: 0px 4px 8px rgb(202 202 202) inset;
    p {
        padding-left: 20px;
    }
}
.filter-container{
    span {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &_btn_number{
        color:$colour-white;
        background-color: $colour-primary;
        padding: 5px 9px;
        border-radius: 15px;
        margin-left: -10px;
    }
    &_btn_icon {
        color: rgb(115 115 115);
        font-size: 18px;
        margin: 0px 20px;
        .fa-ellipsis-vertical{
            margin-right: 2px;
        }
    }
}
