/* Page accueil*/ 

#location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(230 230 230);
    box-shadow: 0px 4px 8px rgb(202 202 202) inset;
    p {
        padding-left: 20px;
    }
}
.filter-container{
    span {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &_btn_number{
        color:$colour-white;
        background-color: $colour-primary;
        padding: 5px 9px;
        border-radius: 15px;
        margin-left: -10px;
    }
    &_btn_icon {
        color: rgb(115 115 115);
        font-size: 18px;
        margin: 0px 20px;
        .fa-ellipsis-vertical{
            margin-right: 2px;
        }
    }
}

.restaurant-card{
    background-color: $colour-white;
    border-radius: 24px;
    margin-bottom: 20px;
    box-shadow: 4px 8px 9px RGB(217 217 217);
    position: relative;
    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 24px 24px 0px 0px ;  
    }
    &_new {
        position: absolute;
        top:18px;
        right: 16px;
        background-color: $colour-new;
    }
    &_body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin:24px 16px;
        &_icon {
        font-size: 30px;
        margin-top: -12px;
        margin-right: 10px;
        font-weight: 100;
        }
    }
}

/*Fin Page accueil*/ 