@mixin main_btn {
    background: linear-gradient(to bottom right, $color-secondary,$color-primary);
    color:$color-background;
    padding: 15px 20px;
    border-radius: 34px;
    border: transparent;
    align-self: center;
    font-size: 16px;
    cursor: pointer;
}

@mixin filter_btn {
    width: 100%;
    padding: 0;
    height: 70px;
    margin: 10px 0px;
    border: transparent;
    border-radius: 16px;
    box-shadow: 4px 8px 9px RGB(217 217 217);
}

@mixin container {
    padding:0px 28px;
    display: flex;
    flex-direction: column;
    @include tablet-only {
        padding: 0px 100px;
    }
}

@mixin tablet-only {
    @media screen and (min-width:426px) and (max-width:map-get($breakpoints,tablet)) {
        @content;
    }
}

@mixin desktop-only {
    @media screen and (min-width:1024px) and (max-width:map-get($breakpoints,desktop)) {
        @content;
    }
}

@mixin heart {
    .favorite {
        cursor: pointer;
        opacity: 0%;
        background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: opacity 0.3s ease-in-out;
        position: absolute;
        right: 16px;
        &:hover {
          opacity: 100%;
          .favorite_full {
            color: #9356dc;
          }  
        }
      }
      .favorite_full {
        cursor: pointer;
        transition: color 0.2s ease-in-out;
      }
}