$color-background:rgb(246, 246, 246);
$color-primary: #9356dc ;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-footer:rgb(53 53 53);
$color-white:#fff;
$color-new:rgb(142 222 202);
$breakpoints: (
    tablet:1023px,
    desktop:3000px,
);