* {
    margin: 0;
}

body {
    background-color: $color-background;
    @include tablet-only {
        margin: 0% 10%;
    }
    @include desktop-only {
        margin: 0% 8%;
    }
}

h2 {
    padding: 45px 0px 20px 0px;
} 