@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

body {
    font-family: 'roboto',sans-serif;
}

h1 {
    font-size: 28px;
    padding: 0px 30px;
} 

h3 {
    font-size: 18px;
    padding-bottom: 6px;
    font-weight: 500;
}

p {
    font-weight: 100;
    font-size: 16px;
}

#location {
    font-size: 20px;
    p {
        font-weight: 500;
    }
}

.explore-container {
    &_btn {
        font-size: 18px;
    }
}

.filter-container_btn_title {
    font-size: 18px;
    font-weight: 600;
}

.restaurant-card_new {
    color: rgb(20 139 107);
    font-size: 16px;
    font-weight: 600;
    padding: 8px 14px;
}
 
.footer_title {
    font-family: 'Shrikhand';
    color:$color-white;
    font-size: 25px;
    padding-bottom: 10px;
}

.menu-title {
    font-family: 'Shrikhand';
}

.menu-card_title {
    font-weight: 200;
    font-size: 18px;
}

.menu-body_title {
    font-family: 'Shrikhand';
    font-size: 26px;
}

.menu-body {
    &_card_text {
        font-size: 15px;
    }
    &_card_title {
        font-weight: 200;
    }
}

